.button{
    -fx-background-color: white;
        -fx-text-fill: black;
        -fx-border-color: #78B0A5;
        -fx-border-radius: 20;
        -fx-background-radius: 20;
        -fx-border-width: 2;

}
.button:hover {
    /* Al pasar el ratón se aclara un poco */
    -fx-background-color: #A3D1C9;
    -fx-cursor: hand;
}
.button:armed {
    -fx-background-color: #A3D1C9; /* El color de tu fondo original */
    -fx-scale-x: 0.95; /* Se encoge un poquito, da sensación de botón real */
    -fx-scale-y: 0.95;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}