.button{
    -fx-background-color: #E1F0ED;
        -fx-text-fill: black;
        -fx-border-color: #78B0A5;
        -fx-border-radius: 20;
        -fx-background-radius: 20;
        -fx-border-width: 2;

}
.button:hover {
    /* Al pasar el ratón se aclara un poco */
    -fx-background-color: #A3D1C9;
    -fx-cursor: hand;
}
.button:armed {
    -fx-background-color: #A3D1C9;
    -fx-scale-x: 0.95; /* Se encoge un poquito */
    -fx-scale-y: 0.95;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

/* Estilo para los días de la tabla Menu (arriba) */
.titulo-grid {
    -fx-font-weight: bold;
    /*-fx-text-fill: #78B0A5;*//*  estos colores son para que elijamos cual nos gusta mas*/
    /*-fx-text-fill: #4A7C73;*//*  estos colores son para que elijamos cual nos gusta mas*/
    -fx-text-fill: #1B3D37;/*  estos colores son para que elijamos cual nos gusta mas*/
    -fx-font-size: 20px;
    -fx-padding: 10;
    -fx-alignment: center;
}

/* Estilo para las categorías de la tabla Menu (izquierda) */
.titulo-categoria {
    -fx-font-weight: bold;
    -fx-text-fill: #2C5F56;/*  estos colores son para que elijamos cual nos gusta mas*/
    -fx-padding: 10;
    -fx-background-radius: 5;
    -fx-font-size:20px;
}
/* Para el fondo general del contenedor del Grid */
.grid-pane-principal {
    -fx-background-color: #E1F0ED;
    -fx-padding: 10;
    -fx-gap: 5;
}

.vbox-celda {
    -fx-border-color: #A3D1C9;
    -fx-border-width: 2;
    -fx-background-color: #E1F0ED;
    -fx-border-radius : 10;

}

.vbox-celda:hover {

    -fx-background-color: #FFFBEB; //Se ilumina al pasar el ratón
    /*-fx-background-color: #FFF9DE; //Se ilumina al pasar el ratón*/
   /* -fx-background-color: #f5f6fa; //color como grisaceo*/
    -fx-cursor: hand;
}
