.button{
    -fx-background-color: white;
        -fx-text-fill: black;
        -fx-border-color: #78B0A5;
        -fx-border-radius: 20;
        -fx-background-radius: 20;
        -fx-border-width: 2;

}
.button:hover {
    /* Al pasar el ratón se aclara un poco */
    -fx-background-color: #A3D1C9;
    -fx-cursor: hand;
}
.button:armed {
    -fx-background-color: #A3D1C9;
    -fx-scale-x: 0.95; /* Se encoge un poquito */
    -fx-scale-y: 0.95;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

/* Estilo para los días de la tabla Menu (arriba) */
.titulo-grid {
    -fx-font-weight: bold;
    -fx-text-fill: #78B0A5;
    -fx-font-size: 20px;
    -fx-padding: 10;
    -fx-alignment: center;
}

/* Estilo para las categorías de la tabla Menu (izquierda) */
.titulo-categoria {
    -fx-font-weight: bold;
    -fx-text-fill: #78B0A5;
    -fx-padding: 10;
    -fx-background-radius: 5;
    -fx-font-size:20px;
}

.vbox-celda {
    -fx-border-color: #A3D1C9;
    -fx-border-width: 2;
    -fx-background-color: white;

}

.vbox-celda:hover {
    -fx-background-color: #f5f6fa; //Se ilumina al pasar el ratón
    -fx-cursor: hand;
}
